<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe src="http://mcx.fastura.net/mcx/chart.html" height="100%" width="100%"></iframe>
</ion-content>
